
<div class="container">
  <h1>Timeline</h1>
  <ul class="timeline">
    <li>
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/seoul1990.jpg" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>The Beginning</h4>
          <h4 class="subheading">October 6, 1990</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            Born in Seoul, Republic of Korea. Was the second born of a 4 person family.
          </p>
        </div>
      </div>
      <div class="line"></div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/Ontario.png" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Journey to the West</h4>
          <h4 class="subheading">September 1996</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            Immigrated with my family to Canada. The family resided in Ontario around the Toronto area since then.
          </p>
        </div>
      </div>
      <div class="line"></div>
    </li>
    <li>
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/UofT.jpg" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>University of Toronto</h4>
          <h4 class="subheading">September 2008 - May 2013</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            Was accepted into University of Toronto, St. George Campus at 2008. Finished with a major in History and minored in linguistics and Russian
            language and literature.
          </p>
        </div>
      </div>
      <div class="line"></div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/seoul2017.jpg" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Return East</h4>
          <h4 class="subheading">March 2014 - March 2015</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            After graduation from university, I worked as a guest English teacher back in Republic of Korea. This was
            motivated by a curiosity in teaching as well as wanting to do some soul searching away from my usual
            surroundings. I finished my year long contract and return back home to Canada.
          </p>
        </div>
      </div>
      <div class="line"></div>
    </li>
    <li>
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/Seneca.jpg" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>Seneca College</h4>
          <h4 class="subheading">January 2016 - September 2017</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            After some career considerations, I decided to pivot away from teaching and move into computer programming. I enrolled and entered into
            Seneca College @ York into the Computer Programming and Analysis program.
          </p>
        </div>
      </div>
      <div class="line"></div>
    </li>
    <li>
      <div class="timeline-image">
        <img class="img-circle img-responsive" src="../assets/RBC.jpg" alt="">
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4>RBC Co-op Tenures</h4>
          <h4 class="subheading">January 2017 - December 2017</h4>
        </div>
        <div class="timeline-body">
          <p class="text-muted">
            During my computer programming program, I spent 2 separate co-op tenures in RBC, first working as a Technical Systems Analyst
            at the capital markets department and then working as a Technical Analyst/Developer in the Digital Department.
          </p>
        </div>
      </div>
    </li>
  </ul>
</div>
