<!DOCTYPE html>
<body data-spy="scroll" data-target="navScroll" data-offset="20">
<app-header></app-header>
<div style="text-align:center">
  <h1>
    Stephen Jeon
  </h1>
  <img class="sjimg" src="../assets/SJ%20Pic.jpg">
  <figcaption>
    <a href="https://github.com/stjeon"><i class="fa fa-github-square"></i></a>
    <a href="https://www.facebook.com/stephen.jon.3"><i class="fa fa-facebook-square"></i></a>
    <a href="https://www.linkedin.com/in/stephen-jeon-46a186130/"><i class="fa fa-linkedin-square"></i></a>
  </figcaption>
</div>
<app-nav></app-nav>
<div class="container">
  <div id="About">
  <h1>About</h1>
    <br>
    <p>
      Recently graduated Computer Programmer looking for full time opportunities in software and web development. I have worked previously as
      an English teacher overseas in the Republic of Korea and as a systems analyst/developer. My main tools as of late are Typescript (Angular 4), Javascript (Node/Express)
      Python (Django, Flask) and C++. In addition to web development I have also worked in automation and unit testing using automation frameworks
      such as ROBOT and have done some data and database administration using SQL and UNIX. My current personal projects include the usage of Django and MEAN stack with the goal
      of me being a complete developer.
      <br>
      Aside from programming, my hobbies and other passions include foreign languages (consistently practicing French and Japanese languages in particular),
      cooking and studying history.
    </p>
  </div>
</div>
<app-timeline></app-timeline>
<app-skills-experience></app-skills-experience>
<!--<app-footer></app-footer>-->
</body>


